{% extends "layouts/base.html" %}

{% block content %}
    <h1 style ="text-align: left"> {{ title }} </h1>
<p> Welcome to Streams, a search engine for <span> Tweets!</span> </p>
        <article> Streams is the way to go for finding Tweets! Search for a tweet or a username above and 
                         enjoy the results! </article>
&nbsp;

<blockquote>
  <p> The 
      <div style = "color: #e74c3c"> f </div>
      <div style = "color: #3498db"> l </div>
      <div style = "color: #f1c40f"> o </div>
      <div style = "color: #2ecc71"> w </div>
  is the way to go</p>
  <small> <cite title="Source Title">Streams</cite></small>
</blockquote>

&nbsp;

    {% endblock %}