{% extends "layouts/base.html" %}

{% block content %}
        <h1>About</h1>
        
&nbsp;
<h2>The Creator</h2>
<article> Kevin is a senior at Brooklyn Technical High School majoring in electro-mechanical engineering and is excited to be 
attending the University of Washington in Seattle this fall. 
During his free time, he enjoys playing the piano, 
experimenting with flat design on Adobe Illustrator, and exploring the city. 
He aspires to be a pioneer in digital technology, 
and is optimistic with where this dream will take him.</article>

&nbsp;

<h2> Major Contributions</h2>
<article>
    This was made in part by New York On Tech. Thanks so much!
</article>

&nbsp;

<blockquote>
  <p style = "color: #f1c40f"> Our mission is to prepare the next generation of technology leaders emerging from New York City. We are committed to developing, mentoring and providing support to 
    underrepresented students interested in the field of technology 
  </p>
  <small> <cite title="Source Title" style = "color: #C5EFF7">New York On Tech</cite></small>
</blockquote>
{% endblock %}
